@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-primary-dark: #0c5bb5;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --font-display: var(--font-inter), var(--font-noto-tc), sans-serif;
  --font-body: var(--font-inter), var(--font-noto-tc), sans-serif;
}

:root {
  --background: #f6f7f8;
  --foreground: #0d141b;
}

.dark {
  --background: #101922;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
